.startScreen {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
    }
}

.gameNameContainer {
    position: absolute;
    top: 30px;
    text-align: center;

    h1 {
        font-size: 4.4rem;
        font-weight: 700;
        color: #b70909;
        text-transform: uppercase;
        letter-spacing: 40px;
        text-shadow: rgb(0, 0, 0) -4px 2px 7px;
    }
}

.startLabelBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    display: flex;
    justify-content: center;

    img {
        width: 40vw !important;
        height: auto;

        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}


@media(max-width: 950px) {
    .startScreen {
        img {
            width: 100vw;
            object-fit: cover;
        }
    }

    .gameNameContainer {
        h1 {
            font-size: 3.4rem;
            letter-spacing: 32px;
        }
    }
}

@media(max-width: 720px) {
    .gameNameContainer {
        h1 {
            font-size: 2.0rem;
            letter-spacing: 24px;
        }
    }
    .startLabelBox {
        bottom: 30px;

        img {
            width: 300px !important;
        }
    }
}

@media(max-width: 485px) {
    .gameNameContainer {
        h1 {
            font-size: 1.4rem;
        }
    }
}

@media(max-width: 425px) {
    .gameNameContainer {
        h1 {
            letter-spacing: 18px;
        }
    }

    .startLabelBox {
        bottom: 30px;

        img {
            width: 400px;
        }
    }
}