.playGround {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/brown_board.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: relative;
    img {
        cursor: pointer;
        position: absolute;
        width: 120px;
    }
}

.playedCard {
    right: 25px;
    transform: scale(1.3) translateX(140px) translateY(-150px) rotate(-10deg);
}

.pickCard {
    animation: pickCardAnimation 1s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-150px) rotate(-10deg);
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.7);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.3) translateX(140px) translateY(-150px) rotate(-10deg);
    }
}

.playerPosition {
    position: absolute;
    right: 0;
}

.addBtn {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pinBottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}