<app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + (i * 90)}" [name]="player"
    [playerActive]="i == game.currentPlayer" [image]="game.playerImages[i]" class="playerPosition hideMobile"></app-player>

<div class="scrollContainer hideDesktop">
    <app-player-mobile (click)="editPlayer(i)" class="hideDesktop" *ngFor="let player of game.players; let i = index;" [name]="player"
        [playerActive]="i == game.currentPlayer" [image]="game.playerImages[i]"></app-player-mobile>
</div>

<div class="playGround">
    <div class="cardStack">
        <!-- Card stack -->
        <img class="customCard" [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [1, 2, 3]; let i = index;"
            src="assets/img/newCover.png">
        <img (click)="takeCard()" class="topCard customCard" [class.pickCard]="game.pickCardAnimation" style="right: 25px"
            src="assets/img/newCover.png">


        <!-- Stack for played Cards -->
        <img *ngFor="let card of game.playedCards" class="playedCard" src="assets/img/cards/{{ card }}.png">

        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pickCard" style="right: 25px"
            src="assets/img/cards/{{ game.currentCard }}.png">

    </div>
</div>

<app-game-info [card]="game.currentCard" class="pinBottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="addBtn">
    <mat-icon>add</mat-icon>
</button>