.playGround {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/img/board3.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: relative;

    img {
        cursor: pointer;
        position: absolute;
        width: 120px;
    }
}

.topCard {
    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.playedCard {
    right: 25px;
    transform: scale(1.3) translateX(140px) translateY(-150px) rotate(-10deg);
}

.pickCard {
    animation: pickCardAnimation 1s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-150px) rotate(-10deg);
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.7);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.3) translateX(140px) translateY(-150px) rotate(-10deg);
    }
}

.playerPosition {
    position: absolute;
    right: 0;
    z-index: 1;
}

.addBtn {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pinBottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}

.customCard {
    border-radius: 8px;
    height: 187px;
    object-fit: cover;
}

app-player, app-player-mobile {
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}

@media(max-width: 720px) {
    .pinBottom {
        bottom: 0;
        left: 0;
        right: 0 !important;
        right: 100px;
    }

    .addBtn {
        right: 15px;
        bottom: 15px;
    }
}

.scrollContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    app-player-mobile {
        margin-left: 8px;
    }
}

@media(max-width: 400px) {
    .cardStack {

        img {
            width: 95px;
        }
    }

    .customCard {
        height: 150px;
    }
}