html {
    overflow: hidden;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (min-width: 720px) {
    .hideDesktop {
        display: none;
    }
}

@media (max-width: 720px) {
    .hideMobile {
        display: none;
    }
}